
<%= form_with(model: @product, :method => :put) do |form| %>   <%#= form_with(model: product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<div class="cardInitial22">
  <div class="card">
   <div class="headerInitial">
    <div class="logo text-center"> 
        <%= image_tag("WTradelogo-2.png", width: "120", height: "100", :alt => "WTrade Logo") %>
    </div>

    <h1 class="text-center mb-1 initialTitle">Update Calculation Product </h1>
        </div>

        <div class="form-group row row-values">      
            <%= form.label :name, "Exchange Rate (USD-COP)",  :class =>"col-sm-6 col-form-label strong" %>
            <%= form.text_field :exchange_rate, :value =>"#{@rate}" %>     
        </div>

        <div class="form-group row row-values">
          <%= form.label :name, "Valor Maximo COP", :class =>"col-sm-6 col-form-label strong" %>
          <%= form.text_field :valor_maximo_cop %>
        </div>

        <div class="form-group row row-values">
          <%= form.label :name, "Valor Producto USD",  :class =>"col-sm-6 col-form-label strong" %>
            <%= form.text_field :valor_usd %>
        </div>

        <div class="form-group row row-values">
         <%= form.label :name, "Peso (lb)",  :class =>"col-sm-6 col-form-label strong" %>
         <%= form.text_field :peso %>
        </div>

        <div class="form-group row row-values">
          <%= form.label :name, :class =>"col-sm-6 col-form-label strong" %>
          <%= form.text_field :name %>
        </div>

        <br>
        <div class="actions d-flex justify-content-center">
          <%= form.submit "Update!", :class=> "btn btn-success check", :remote =>  true %>
        </div>


    <% end %>
    <div class="backProducts d-flex justify-content-center">
      <%= link_to 'Products', products_path, :class=> "btn btn-primary back", :remote => true %>
    </div>
  </div>
</div>




