
<p id="notice"><%= notice %></p>

<div class="card cardShow">

  <div class="headerInitial">
    <h1 class="text-center mb-4 initialTitle">Calculated Product </h1>
  </div>

  <div class="en_resumen">     
    <h3 id="resumen"> Resumen </h3>
    <br>
    <p>
     <strong>Decisión:</strong>
        <%= @product.accion %>
    </p>
    <p>
      <strong>Valor Maximo COP:</strong>
      <%= number_with_delimiter(@product.valor_maximo_cop) %>
    </p>
    <p>
      <strong>Total Cost COP:</strong>
      <%= number_to_currency(@product.total_cost, format: "%n") %>
    </p>
  </div>
  <br>
  <br>
    <hr>
  <br>
  <br>
  <div class="datos_ingresados">     
  <h3> Datos ingresados </h3>
    <p>
      <br>
      <strong>Exchange Rate</strong>
     <%= number_with_delimiter(@product.exchange_rate) %>
    </p>

    <p>
      <strong>Valor USD:</strong>
      <%= number_with_delimiter(@product.valor_usd)%>
    </p>

    <p>
      <strong>Peso (lb):</strong>
      <%= number_with_delimiter(@product.peso) %>
    </p>    
  </div>

<br>
<hr>
<br>

  <div class="datosCalculados">  
    <h3> Datos Calculados </h3>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Valor COP:</strong>
      <%= number_with_delimiter(@product.valor_cop) %>
    </p>

    <p>
      <strong>Impuesto USD:</strong>
      <%= number_with_delimiter(@product.impuesto) %>
    </p>

    <p>
      <strong>Seguro USD:</strong>
      <%=number_with_delimiter(@product.seguro) %>
    </p>

    <p>
      <strong>Flete USD:</strong>
      <%= number_with_delimiter(@product.flete,) %>
    </p>

    <p>
      <strong>Aduana USD:</strong>
      <%= number_with_delimiter(@product.aduana) %>
    </p>

    <p>
      <strong>Total Envio USD:</strong>
      <%= number_to_currency(@product.total_envio_usd, format: "%n")%>
    </p>

    <p>
      <strong>Total Envio COP:</strong>
      <%= number_to_currency(@product.total_envio_cop, format: "%n") %>
    </p>    
  </div>

   <hr>

<br>
<br>

<!-- <div class="btn-group showButtons" role="group" aria-label="First group"> -->
<div class="buttonEdit d-flex justify-content-center">  
  <%= link_to 'Edit', edit_product_path(@product), :class=> "btn btn-primary edit", :remote =>  true %> 
</div>

<div class="backProducts d-flex justify-content-center">
  <%= link_to 'Products', products_path, :class=> "btn btn-primary back", :remote => true %>
</div>

<br>
</div>
