<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="table-responsive">
  <div class="row indextable">
   <!-- <div class="container-fluid">-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Exchange Rate</th>
            <th>Valor USD</th>
            <th>Valor COP</th>
            <th>Impuesto</th>
            <th>Seguro</th>
            <th>Peso</th>
            <th>Flete</th>            
            <th>Aduana</th>
            <th>Total Envio USD</th>
            <th>Total Envio COP</th>
            <th>Costo Total COP</th>
            <th>Valor Maximo COP</th>

            <th>Accion</th>
            <th>Bought</th>
            
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= number_to_currency(product.exchange_rate, format: "%n")  %></td>
              <td><%= number_to_currency(product.valor_usd, format: "%n") %></td>
              <td><%= number_to_currency(product.valor_cop, format: "%n") %></td>
              <td><%= number_to_currency(product.impuesto, format: "%n") %></td>
              <td><%= number_to_currency(product.seguro, format: "%n") %></td>
              <td><%= number_with_delimiter(product.peso) %></td>
              <td><%= number_to_currency(product.flete, format: "%n") %></td>              
              <td><%= number_to_currency(product.aduana, format: "%n") %></td>
              <td><%= number_to_currency(product.total_envio_usd, format: "%n") %></td>

              <td><%= number_to_currency(product.total_envio_cop, format: "%n") %></td> 

              <td><%= number_to_currency(product.total_cost, format: "%n") %></td>
              <td><%= number_to_currency(product.valor_maximo_cop, format: "%n") %></td>

              <td><%= product.accion %></td>
              <td><%= product.bought %></td>
              
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <!--</div>-->
</div>
<br>

<%= link_to 'New Product', new_product_path %>
<br>
<br>
<br>
<br>

